body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image: url(images/images.jpeg);
    background-size: cover;
    /* filter: blur(5px); */
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #000000c3;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@keyframes slideFromTop {
    0% {
      transform: translateY(-100%);
      opacity: 0; 
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

@keyframes fadeIn {
0% {
    opacity: 0; 
}
100% {
    opacity: 1; 
}
}
.container h1 {
    animation: slideFromTop 2s ease-out;
    position: relative; 
}
  
  

h1 {
    color: #ffffff;
    -webkit-text-stroke: 0.5px black;
    font-size: 44px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,cursive;
    font-weight: bolder;
    text-shadow: 0 2px 2px rgba(0, 1, 0, 1);
}

ul{
    list-style: none;
    background-color: #007eb4bd;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul li{
    color: #e2e2e2;
    background: rgba(19, 1, 1, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    width: 90%;
    text-align: center;
    transition: background-color 0.3s ease;}

ul li:hover{
    background-color: rgba(0, 32, 138, 0.8);
    color: #ff0000;
    transform: translateY(-1px);
    transition: all 0.3s ease;
}

h2{
    color: #ffffff;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.402);
}

input[type="text"] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border: greenyellow;
    border-width: 140px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #00b377;
    transition-duration: 0.5s;
}

#weatherInfo {
    animation: fadeIn 2s ease-out forwards;
    position: relative; 
    background-color: #007eb4bd;;
    border-radius: 8px;
    padding: 16px;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }

#weatherInfo h3 {
font-size: 1.5em;
color: #26ff00;
margin: 20px 0;
stroke: black;

}

#weatherInfo p {
font-size: 1em;
color: #ffffff;
margin: 6px 0;

}





#weatherInfo:hover {
background-color: rgba(0, 32, 138, 0.8);
transform: translateY(-1px);
transition: all 0.3s ease;
}

#weatherInfo:hover h3,#weatherInfo:hover p {
    color: #ff0000;
    }

.hidden {
    display: none;
  }

.weather-info {
    margin-top: 20px;
}

.error-message {
    color: red;
    margin-top: 10px;
}

